@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --background: #f5f6fa;
  --txtcolor: #2c3e50;
  --toastify-icon-color-success: #4a8d4e !important;
  --toastify-icon-color-error: #cc2936 !important;
}

body {
  background: var(--background);
  color: var(--txtcolor);
  max-width: 100%;
  margin: 0 auto;
}

.container {
  padding: 2rem;
}

/* Chrome, Safari, Edge, Opera */
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

/* Firefox */
input[type="number"] {
  -moz-appearance: textfield;
}

/* Empêche la sélection de texte partout */
* {
  /* user-select: none;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none; */
}

/* Désactive le menu contextuel sur un appui long */
body {
  -webkit-touch-callout: none;
  touch-action: manipulation;
}

/* Scrollbar */
/* width */
::-webkit-scrollbar {
  height: 5px;
  width: 10px;
}

/* Track */
::-webkit-scrollbar-track {
  background: #f7f7f7;
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: #9a9a9a;
  border-radius: 5px;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: #2c3e50;
}

img {
  width: auto; /* Maintains aspect ratio */
}

/* React toastify */
.center-toast-container {
  width: 100% !important;
  padding: 1rem !important;
}
.center-toast {
  max-width: 435px;
  margin: 0.5rem auto !important;
}

.btn:disabled,
input:disabled {
  background-color: #dedfe8; /* Set the desired color for the disabled state */
  cursor: not-allowed; /* Optional: Change the cursor to indicate the button is not clickable */
}

/* Datepicker */
.react-datepicker-wrapper {
  width: 100%;
}
.custom-react-datepicker {
  width: 99.9%;
  padding: 0.4rem 0.5rem;
  border-radius: 0.3rem;
  border: 1px solid #9a9a9a;
  outline: none;
}
.custom-react-datepicker:focus {
  border: 2px solid #d63185;
}
.divider {
  width: 1px;
  height: 18px;
  background-color: #9a9a9a;
}

@media screen and (min-width: 500px) {
  .container {
    max-width: 500px;
    margin: 0 auto;
  }
}

@layer components {
  .input:focus-within,
  .textarea:focus-within,
  .select:focus-within {
    @apply ring-0 outline-none; /* Removes the ring and default outline */
  }
}
